@import '../../../../src/app/shared/styles/main';

.transfer-form-card {
  width: 350px;
  height: auto;
  padding: 0;
  border-radius: 20px;

  ::ng-deep {
    .mat-card-header .mat-card-title, .mat-card-actions {
      margin: 0;
    }

    .mat-card-actions {
      padding: 0;
    }
  }

  .transfer-form--header {
    background: $primary-blue;
    padding: 1rem;
    color: white;
    border-radius: 20px 20px 0 0;
  }

  .transfer-form--content {
    background: white;
    padding: 1rem 1rem 0;
    margin: 0;

    .input-icon {
      position: relative;

      & > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 32px;
        text-align: center;
        font-style: normal;
        background: #dadada;
        height: 100%;
        border-radius: 4px 0 0 4px;
      }

      & > input {
        border-radius: 0 4px 4px 0;
        margin-left: 2rem;
      }
    }
  }

  .auto-complete-input--wrapper {
    position: relative;

    .auto-complete-input--options {
      position: absolute;
      top: 32px;
      z-index: 1;
      background: #E8ECEE;
      width: 100%;
      box-shadow: 0px 4px 5px #b3b3b3;;
    }
  }

  .error-text {
    color: red;
  }

}
