@import '../../../../src/app/shared/styles/main';

.transfer-form-card {
  width: 700px;
  height: 70vh;
  padding: 0;
  border-radius: 20px;

  ::ng-deep {
    .mat-card-header .mat-card-title, .mat-card-actions {
      margin: 0;
    }

    .mat-card-actions {
      padding: 0;
    }
  }


  .transfer-form--header {
    background: $primary-blue;
    padding: 1rem;
    color: white;
    border-radius: 20px 20px 0 0;
  }

  .transfer-form--content {
    background: white;
    padding: 1rem 1rem 0;
    margin: 0;
    height: calc(100% - 3rem);
    border-radius: 0 0 20px 20px;

    .input-icon {
      position: relative;

      & > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 3rem;
        text-align: center;
        font-style: normal;
        background: #dadada;
        height: 100%;
        border-radius: 4px 0 0 4px;
      }

      & > input {
        border-radius: 0 4px 4px 0;
        margin-left: 3rem;
      }
    }

    .transactions-list {
      height: inherit;
      overflow: auto;
      padding-bottom: 0.5rem;
    }
  }

  .transaction-colour--div {
    width: 8px;
    height: 64px;
    display: block;
  }

  .transaction-amount {
    color: green;
  }

  .clear-filter {
    cursor: pointer;
  }
}
